import json
import logging

from pathfinder_sdk.llm.AIFGateway import AIFGateway

from app.src.config.Config import settings

logger = logging.getLogger(__name__)


class LLMService:

    def __init__(self):

        self.client = AIFGateway(
            auth_url=settings.databricks.auth_url,
            endpoint_url=settings.databricks.endpoint_url,
            model=settings.databricks.model,
            client_id=settings.databricks.client_id,
            audience=settings.databricks.audience,
            public_key=settings.databricks.public_key,
            private_key=settings.databricks.private_key
        )

    def invoke(self, prompt: str) -> str:
        """
        Invoke Databricks LLM using AIFGateway.
        """

        logger.info("Invoking Databricks LLM...")

        llm_request = [
            {
                "role": "user",
                "content": prompt
            }
        ]

        response = self.client.invoke(llm_request)

        content = response["choices"][0]["message"]["content"]

        logger.info("LLM invocation completed.")

        return content

    def invoke_json(self, prompt: str) -> dict:
        """
        Invokes the LLM and converts response into JSON.
        """

        response = self.invoke(prompt)

        try:
            return json.loads(response)

        except Exception as ex:

            logger.error("Unable to parse LLM JSON response.")
            logger.error(response)

            raise ex
